[Unit]
Description=Plex Media Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop plex-media-server
ExecStartPre=-/usr/bin/docker rm -f plex-media-server
ExecStartPre=/usr/bin/docker pull timhaak/plexpass:latest
ExecStart=/usr/bin/docker run \
  --rm --name plex-media-server \
  --env-file '/opt/butterfinger/config/plex-media-server.env' \
  -v '/opt/butterfinger/config:/config' \
  -v '/mnt/butterfinger:/data' \
  -p 80:32400 timhaak/plexpass

[Install]
WantedBy=multi-user.target
